#connectioncontent{
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: inline-block;
}

.content2 {
    position: relative;
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: inline-block;
}

#connectioncontent ul.following{
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    text-align: right;
}

#connectioncontent ul li{
    display: inline;
    margin-right: 20px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Helvetica Neue", "lucida grande", Arial,sans-serif;
}

#connectioncontent ul li a{
    text-decoration: none;
    color: #090909;
}

#connectioncontent ul li a:hover{
    color: #19A3FF;
}

#connectioncontent ol, ul {
    list-style: none;
}

li.group{
    width: 220px;
    height: 270px;
    position: relative;
    float: left;
    padding: 0;
    margin: 0 9% 155px 0;
}

.box {
    position: relative;
    padding-top: 10px;
    width: 270px;
    height: 350px;
    clear: left;
    background: #fff;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    box-shadow: 1px 1px 7px #888888;
}

.pics {
    position: relative;
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-right: 10px;
}

#connectioncontent .group .box .pics img {
    border-radius: 15px;
    box-shadow: 1px 1px 4px #888888;
}

.box a {
    text-decoration: none;
    color: #090909;
}

.discription{
    margin-top: 10px;
    width: 250px;
    height: 250px;
    background-color: #fff;
    opacity: 0;
    z-index: 4;
    position: relative;
    
}

.discription:hover {
    opacity: 0.9;
}


.links {
    position: relative;
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    bottom: 260px;  
}

.discription h5 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    margin: 0;
    height: 250px;
    padding: 10px 10px 0;
    overflow: scroll;
}



#connectioncontent ol .box ul {
    position: relative;
    padding-left: 25px;
    bottom: 250px;
    border-bottom: none;
    text-align: left;
}

#connectioncontent ol .box ul li {
    color: #333333;
    display: list-item;
    padding-left: 0;
    font-size: 17px;
    list-style: none;
}

#connectioncontent ol .box ul li:hover {
    color: #090909;
}

#follower {
    height:270px;
   
}

#connectionFollow{
    width: 140px;
    height: 35px;
    left: 10px;
    margin-top: 10px; 
}

#connectionFollow:hover{
    padding: 9px;
}

#alreadyFollow {
    margin-top: 10px;
    padding-top: 2px;
    width: 140px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
    font-weight: bold;
    color: #888888;
    background-color: #F4F4F4;
    border: 1px solid #C6C6C6;
    -webkit-box-shadow: 0 1px 0 #F8F8F8;
    box-shadow: 0 1px 0 #F8F8F8;
    border-radius: 3px;
}